html,body{
  height: 100%;

}
body  {
  background: #E8E8E8;
}

a {
  color:#444;
  text-decoration: none;
}

h1,h2,th,td {
  color:#444;
}
h2{
  font-size: 1.3em;
}
input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
#alert{
  padding-top:10px;
}
#wrapper {
  min-height: 100%;
  margin: auto;
  margin: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer{
  min-height: 50px;
  text-align: center;
  background: white;
  margin-left:5px;
  margin-right:5px;
  padding-top:10px;
  padding-bottom: 5px;
}

/******** =HEADER **********/

header {
  background: rgba(3,3,3,0.5);
  width: 100%;
  padding-top:10px;
}
#profile_link_container{
  float: right;
  padding-top: 10px;
  padding-right: 5px;
}
#profile_link_container a{
  color: #fff;
}
#logo {
  padding-left: 5px;
  display: inline-block;
  padding-bottom: 10px;
  padding-top:10px;
}
#logo a{
  color: #fff;
}
header ul {
  display: inline-block;
  float: right;
  padding-right: 5px;
  padding-top:5px;
}
header li {
  display: inline-block;
  padding-left: 5px;
}
header ul li a{
  color: #777;
  padding: 10px;
  background: #FFFFFE;
  border-radius: 5px;
}

/****** =Home Page ********/
#homepage p{
  position: absolute;
  background: #FF6765;
  color: #fff;
  font-size: 28px;
  margin-left: 20px;
}
#homepage img{
  padding-top:20px;
}
/****** =Login Page ********/
#login_register_forms input{
  display: block;
  width: 100%;
  outline:none;
  border-style: none;
  padding:10px;
  margin-bottom: 10px;
}
#login_register_forms input[type="submit"]{
  background: #FF6765;
  color: #fff;
}


/****** =User area search form ********/
#search_form input{
  display: inline-block;;
  outline:none;
  border-style: none;
  padding:10px;
  float: left;
  width: 80%;
}
#search_form input[type="submit"] {
  background: #FF6765;
  color:#fff;
  padding:10px;
  width: 20%;
}
#search_form input[type="submit"]:hover {
  background: #FF6765;
}

header:after{
  content: " ";
  display: table;
  clear: both;
}

.not_found{
  padding-top:80px;
}
/******* =Add task *******/
.add_task_title{
  display: inline-block;
  border-bottom: 5px solid #ccc;
}
#add_task_form input{
  outline:none;
  width: 100%;
  border-style: none;
  padding:10px;
  background: #E8E8E8;
  border-bottom: 1px solid #ccc;
}
#add_task_form select{
  color: #9e9e9e;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance:none;
  border-style:none;
  outline:none;
  background: url(../img/arrow.png) no-repeat right #E8E8E8;
  padding:10px;
  width: 100%;
}
#add_task_form input[type="submit"] {
  border-style: none;
  background: #FF6765;
  color:white;
  padding:5px;
  margin-top:10px;
}


/******** =Todo categories **********/
.todo_categories {
  padding-top: 20px;
}
.categories_title{
  display: inline-block;
  border-bottom: 5px solid #ccc;
}
.todo_categories ul{
  padding-top: 10px;
}
.todo_categories li{
  float: left;
  display: inline-block;
  width: 31.3333%;
  border-bottom: 5px solid #5A71FF;
  text-align: center;
  min-height: 70px;
  margin-bottom:10px;
}
/* every 3rd starting from 2 */
.todo_categories li:nth-child(3n+2){
  margin-left:3%;
  border-bottom: 5px solid #E852A3;
}
/* every 3rd starting from beginning */
.todo_categories li:nth-child(3n){
  float: right;
  right: 0;
  border-bottom: 5px solid #FFB64E;
}
.todo_categories li a {
  display: inline-block;
  background: #ccc;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.last_category{
    color:#f5f5f5;
}
.todo_categories:after{
  content: " ";
  display: table;
  clear: both;
}

/****** =Tasks table ******/
.tasks_div{
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  color: #555;
  border-style: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.selected_task{
  float: right;
}
.title{
  color: #444;
  font-weight: bold;
}
.tasks_div p{
  padding:5px;
}
.date{
  float: right;
}

/**** =View tasks page task layout ****/
.tasks_div_view_page{
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  color: #555;
  border-style: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}
.tasks_div_view_page:nth-child(1){
  margin-top:70px;
}
.tasks_div_view_page p{
  padding:5px;
}
/***** =ADD CATEGORY *****/
.add_category_title {
  display: inline-block;
  border-bottom: 5px solid #ccc;
}
#add_category_form input{
  outline:none;
  width: 100%;
  border-style: none;
  padding:10px;
  background: #E8E8E8;
  border-bottom: 1px solid #ccc;
}
#add_category_form select{
  color: #9e9e9e;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance:none;
  border-style:none;
  outline:none;
  background: url(../img/arrow.png) no-repeat right #E8E8E8;
  padding:10px;
  width: 100%;
}
#add_category_form input[type="submit"] {
  border-style: none;
  background: #FF6765;
  color:#fff;
  padding:5px;
  margin-top:10px;
}

.todo_categories .delete_category_link{
  position: relative;
  margin-top:-68px;
  width: 10%;
  float: right;
  background:#E85D5C;
  cursor: pointer;
  color: #fff;
}
.delete_category_link:hover{
  background:#FF6765;
}

#notifications_section{
  padding-bottom: 40px;
}
.notifications_title {
  display: inline-block;
  border-bottom: 5px solid #ccc;
}
#overdue_tasks{
  float: right;
  background:#FF6765;
  color: #fff;
  padding: 5px;
}
/**** =Task removing and marking ****/
.task_actions {
  margin-top: 20px;
  float: right;
  margin-bottom: 20px;
}


.task_actions li{
  display: inline-block;
  padding-left:5px;
}
.task_actions li a{
  background: #fff;
  border-bottom: 3px solid rgba(255, 0, 0, 0.5);
}
#complete_task_link{
  color: #777;
  text-decoration: none;
  padding: 10px;
}
#remove_task_link{
  color: #777;
  text-decoration: none;
  padding: 10px;
}

#notice{
  display: none;
  background: #FF6765;
  color: #fff;
  padding:10px;
}


.logout{
  padding-left: 15px;
}
/**** =PROFILE PAGE ****/
/**** =profile buttons ****/
#profile_actions {
  margin-top: 20px;
  float: left;
  margin-bottom: 20px;
}
#profile_actions li{
  display: inline-block;
  padding-right:5px;
}
#profile_actions li a{
  background: #fff;
  border-bottom: 3px solid rgba(255, 0, 0, 0.5);
}
#completed_tasks_link{
  color: #777;
  text-decoration: none;
  padding: 10px;
}
#account_details_link{
  color: #777;
  text-decoration: none;
  padding: 10px;
}
#profile_navigation:after{
  content: " ";
  display: table;
  clear: both;
}

/**** =update details form ****/
#update_details_form{
  padding-bottom: 40px;
}
#update_details_form input{
  outline:none;
  width: 100%;
  border-style: none;
  padding:10px;
  background: #E8E8E8;
  border-bottom: 1px solid #ccc;
}
#update_details_form input[type="submit"] {
  border-style: none;
  background: #FF6765;
  color:#fff;
  padding:5px;
  margin-top:10px;
}



@media (min-width:768px) and (max-width:1500px) {
  #wrapper {
    margin: auto;
    margin: 5px;
  }
  #alert{
    padding-left: 270px;
  }
  header{
    padding-bottom:10px;
  }
  header ul {
    padding-top:35px;
  }
  #profile_link_container{
    float: right;
    padding-right: 5px;
    padding-bottom:20px;
    padding-top: 0px;
  }

  #profile_link_container a{
    color: #fff;
  }
  #logo{
    float: left;
    padding-left: 5px;
    padding-top:35px;
  }

  #search_form{
    margin-top: -10px;
    padding-right: 5px;
    display: inline-block;
    float: right;
    width: 80%;
  }

  /***** =Login Page *****/
  .login_register_titles{
    padding-top: 160px;
    padding-left: 270px;
  }

  #login_register_forms{
    padding-left: 270px;
  }
  #login_register_forms input{
    width: 60%;
  }


}


@media (min-width:900px) and (max-width:1500px) {
  #wrapper {
    width: 900px;
    margin: auto;
  }

  footer{
    width: 900px;
    margin: auto;
  }
}
